
@{
    ViewBag.Title = "Contact";
}
@model IList<MutualFriend.Models.FriendModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Mutualfriend
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Count
            </td>
            <td><a href="/Friend/Contact?Id=@item.Id"> @item.PersonName</a>
               
            </td>
            <td>
                @item.MutualCount
            </td>
        </tr>
    }
    </tbody>
    </table>

